[submodule "src/multi_agent_vector_fields"]
	path = src/multi_agent_vector_fields
	url = https://github.com/riddhiman13/multi_agent_vector_fields
	branch = main
[submodule "src/fliqc_controller_ros"]
	path = src/fliqc_controller_ros
	url = https://github.com/hwyao/fliqc_controller_ros
	branch = develop
[submodule "src/robot_env_publisher"]
	path = src/robot_env_publisher
	url = https://github.com/hwyao/robot_env_publisher
	branch = develop
